<div class="title-section">
  <h4 class="d-flex align-items-center">
    Invoice Setup
    <span class="count">{{ count }}</span>
  </h4>
</div>
<div class="search-wrapper mt-0">
  <div class="d-flex align-items-center justify-content-between">
    <div class="">
      <div>
        <input class="form-control" type="date" [(ngModel)]="dateFrom" />
      </div>
    </div>
    <p class="m-2">To</p>
    <div class="">
      <div>
        <input class="form-control" type="date" [(ngModel)]="dateTo" />
      </div>
    </div>
    <button class="btn m-2 btn-primary mr-auto d-block" (click)="search()">
      Apply
    </button>

    <button class="btn btn-primary ml-auto d-block" (click)="addItem()">
      New Invoice Setup
    </button>
  </div>
</div>
<div *ngIf="rowData">
  <ag-grid-angular
    style="width: 100%; height: 300px;"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
  >
  </ag-grid-angular>
</div>

<!-- <div class="pagination-box mt-4">
  <div class="actions-btns  content-center text-center">
    <nav aria-label="page-pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            (click)="pageNumber(1)"
            class="page-link text-primary"
            disabled="true"
            >First</a
          >
        </li>
        <li *ngIf="currentPage == 1" class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li *ngIf="currentPage > 1" class="page-item">
          <a class="page-link text-primary" (click)="previousPage()"
            >Previous</a
          >
        </li>

        <ng-container *ngFor="let num of paginationNumbers">
          <li *ngIf="currentPage != num && pages >= num" class="page-item">
            <a
              (click)="pageNumber(num)"
              class="page-link text-primary"
              style="cursor: default"
              >{{ num }}</a
            >
          </li>
          <li
            *ngIf="currentPage == num && pages >= num"
            class="page-item active"
          >
            <a class="page-link " style="cursor: default">{{ currentPage }}</a>
          </li>
        </ng-container>
        <li *ngIf="currentPage >= pages" class="page-item disabled">
          <span class="page-link">Next</span>
        </li>

        <li *ngIf="pages > currentPage" class="page-item">
          <a (click)="nextPage()" class="page-link text-primary">Next</a>
        </li>
        <li class="page-item ">
          <a (click)="pageNumber(pages)" class="page-link text-primary">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div> -->
<div *ngIf="count > 0">
  <app-pagination
    #pageComp
    [pageSize]="pageSize"
    (page)="page($event)"
    [currentPage]="currentPage"
    [pages]="pages"
    [count]="count"
    [perPageCount]="perPageCount"
  ></app-pagination>
</div>
<ng-template #editDeleteCell let-row>
  <div class="text-right">
    <i
      class="first-icon material-icons"
      data-toggle="tooltip"
      title="Edit"
      (click)="editItem(row)"
      >edit</i
    >
    <i
      class="material-icons mr-0"
      data-toggle="tooltip"
      title="Delete"
      (click)="deleteItem(row)"
      >delete</i
    >
  </div>
</ng-template>
