<div class="title-section">
  <h4 class="d-flex align-items-center">
    Invoice List
    <span class="count">{{ count }}</span>
  </h4>
</div>

<div class="search-wrapper mt-0">
  <div class="d-flex align-items-center justify-content-start">
    <div class="">
      <div>
        <input class="form-control" type="date" [(ngModel)]="dateFrom" />
      </div>
    </div>
    <p class="m-2">To</p>
    <div class="">
      <div>
        <input class="form-control" type="date" [(ngModel)]="dateTo" />
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mr-auto">
      <button
        class="btn m-2 btn-primary mr-auto d-inline m-2"
        (click)="search()"
      >
        Apply
      </button>
      <!-- <button class="btn btn-primary d-inline m-2" (click)="getAllInvoices()">
        Refresh
      </button> -->
    </div>
  </div>
</div>
<div *ngIf="rowData">
  <ag-grid-angular
    style="width: 100%; height: 300px;"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
  >
  </ag-grid-angular>
</div>

<div *ngIf="count > 0">
  <app-pagination
    #pageComponent
    [pageSize]="pageSize"
    (page)="page($event)"
    [currentPage]="currentPage"
    [pages]="pages"
    [count]="countLog"
    [perPageCount]="perPageCount"
  ></app-pagination>
</div>

<ng-template #editDeleteCell let-row>
  <div
    class="grid-actions text-right"
    *ngIf="row.invoiceStatusName === 'Pending'"
  >
    <i
      class="material-icons"
      data-toggle="tooltip"
      title="View"
      (click)="generatePdf(row)"
      >visibility</i
    >
    <i
      class="first-icon material-icons"
      data-toggle="tooltip"
      title="Edit"
      (click)="editItem(row)"
      >edit</i
    >
    <img (click)="markAsPaid(row)" src="../../../assets/paid-icon.png" alt="" />
  </div>
  <div
    class="grid-actions text-right"
    *ngIf="row.invoiceStatusName !== 'Pending'"
  >
    <i
      class="material-icons"
      data-toggle="tooltip"
      title="View"
      (click)="generatePdf(row)"
      >visibility</i
    >
  </div>
</ng-template>
